# Laravel
/apps/backend/vendor/
/apps/backend/node_modules/
/apps/backend/storage/
/apps/backend/bootstrap/cache/
.env

# Next.js
/apps/frontend/.next/
/apps/frontend/node_modules/

# Docker
db_data/
